.itemContainer{
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(4, 300px);
    justify-content: center;
}

.itemContainer .card{
    margin: 10px;
    height: 510px;
    width: 18rem;
}